// _layout.scss
// ==============
body {
    background: $white;
    font-size: $font-size-base;
}

#content {
    color: $pink;
    font-size: 2rem;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

#{headings()} {
    font-family: $headFont;
    font-size: 3rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: $green;
    @media (max-width: 700px) {
        font-size: 2.2rem;
    }
}

h2 {
    font-size: 1.5rem;
    color: $purple;
}

p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: $purple;
    margin-bottom: 20px;
    margin-top: 15px;
}

section {
    padding: 20px 0;
}

.artgroup {
    @include clearfix;
} //artgroup
.navbar li a {
    font-weight: bold;
    font-size: 16px;
}

#carousel {
    padding: 0;
}

.icon {
    font-size: 5rem;
}

%rhombus {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        transform: rotate(45deg);
    }
}

.rhombus-lg {
    @extend %rhombus;
    height: 110px;
    color: $white;
    &::after {
        background-color: $main-color;
        width: 90px;
        height: 90px;
        left: 24%;
        z-index: -1;
    }
    i {
        position: absolute;
        top: 15px;
        left: 70px;
    }
}

.rhombus-md {
    @extend %rhombus;
    height: 40px;
    color: $white;
    &::after {
        background-color: $gray;
        border: 1px solid $main-color;
        width: 35px;
        height: 35px;
        left: 0%;
        z-index: 2;
    }
    i {
        position: absolute;
        top: 8px;
        left: 9px;
        z-index: 6;
    }
}

.rhombus-next {
    @extend .rhombus-md;
    position: absolute;
    bottom: -23px;
    left: 48%;
    &::after{
        background-color: $main-color;
    }
}

.card {
    width: 24%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    &:nth-child(7n+5) {
        margin-left: 12%;
    }
    &:nth-child(7n+7) {
        margin-right: 12%;
    }
}

#features {
    text-align: center;
}

#about-us {
    background-image: url('../images/about-us-bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    padding: 30px 0;
    text-align: center;
    * {
        color: $white;
    }
    ul {
        li {
            display: inline-block;
            width: 50px;
        }
    }
}
